*.ckpt
*.zip
__pycache__/
binarized_data/
experiments/
popcs/
gtsinger/
m4singer/
GTSinger/
logs/
data/Alex_Floarea_EN_Public_Corpus/
data/AlexFloarea-AI-SVS-main
data/Amaboshi_CipherDB2改
data/enunu_kodoku_database
data/gtsinger
data/itako_singing
data/Kurotake_Kouga_AI_Song
data/m4singer
data/NGYY_ENG_Dataset-main
data/Nit070
data/no7singing
data/OFUTON_P_UTAGOE_DB
data/ONIKU_KURUMI_UTAGOE_DB
data/opencpop
data/PJS_corpus_ver1.1/
data/popcs
data/Project-AIdol-Public-English-Dataset-master
data/ritsu
data/sungandspoken
data/tiger_en
data/tiger_jp